/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/.rspec_status
/.byebug_history

/.idea/
/.env.*.local
/.env.local

**/local_data/records.yml
mcp-connector.log
.mcp.json
examples/.mcp.json
